{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'User Registration' %}{% endblock %}

{% block head %}{% trans 'User Registration' %}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-5 d-flex justify-content-center block">
            <form method="post" class="reg-form">
                <h4 class="pl-3 mb-1">{% trans 'Registration' %}</h4>
                <hr class="horizontal-line my-2">
                <div class="p-3">
                    {% csrf_token %}

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger pl-2 p-0">
                            <small>
                                { error }}
                            </small>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-5 pr-1">
                            <label for="id_first_name">{% trans 'First name' %}</label>
                            {{ form.first_name }}
                        </div>

                        <div class="col-7 pl-1">
                            <label for="id_last_name">{% trans 'Last name' %}</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 pr-1">
                            {% for error in form.first_name.errors %}
                                <div class="alert alert-danger pl-2 p-0">
                                    <small>
                                        {{ error }}
                                    </small>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-7 pl-1">
                            {% for error in form.last_name.errors %}
                                <div class="alert alert-danger pl-2 p-0">
                                    <small>
                                        {{ error }}
                                    </small>
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                    <label for="id_username">{% trans 'Username' %}</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        {{ form.username }}
                    </div>
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger pl-2 p-0">
                            <small>
                                {{ error }}
                            </small>
                        </div>
                    {% endfor %}


                    <label for="id_email">{% trans 'Email' %}</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger pl-2 p-0">
                            <small>
                                {{ error }}
                            </small>
                        </div>
                    {% endfor %}


                    <label for="id_password1">{% trans 'Password' %}</label>
                    {{ form.password1 }}
                    {% for error in form.password1.errors %}
                        <div class="alert alert-danger pl-2 p-0">
                            <small>
                                {{ error }}
                            </small>
                        </div>
                    {% endfor %}

                    <label for="id_password2">{% trans 'Confirm password' %}</label>
                    {{ form.password2 }}
                    {% for error in form.password2.errors %}
                        <div class="alert alert-danger pl-2 p-0">
                            <small>
                                {{ error }}
                            </small>
                        </div>
                    {% endfor %}

                </div> <!-- auth-body -->
                <hr class="horizontal-line my-2">
                <div class="d-flex justify-content-center my-1">
                    <input type="submit" class="btn btn-primary py-1" value="{% trans 'Sign in' %}"/>
                </div> <!-- auth-footer -->

            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% load staticfiles %}
    <script src="{% static 'js/correct_library.js' %}"></script>
    <script src="{% static 'js/jregistration.js' %}"></script>
{% endblock %}