body {
    background-color: #c2cad6 !important; /* Бекграунд страницы */
}

html, body {
    height: 100%; /* Для прижатия футера к низу */
}

.container {
    min-height: 100%; /* Для прижатия футера к низу */
}

.footer-spacer {
    height: 120px; /* Размер футера */
    clear: both;
}

footer {
    background-color: #d1d7e0;
    height: 120px; /* Размер футера */
    margin-top: -120px;
}

.navbar-spacer {
    height: 75px; /* Размер навбара */
    clear: both;
}

.navbar {
    z-index: 1;
    top: 0;
    color: white;
}

.horizontal-line {
    margin: 0; /* Отступы от разделяющей линии */
}

.block { /* Конфигурация блоков всех страниц */
	padding: 5px;
    margin-bottom: 7px;
    background-color: #fff;
    border-radius: 3px;
}

/* note */
.note-header > div {
    display: inline-block;
}

.note-interaction {
    float: right;
}

.note-content {
    margin: 0 -5px;
}

.information-block p {
    margin-bottom: 5px !important;
}

/* user info */

.avatar img {
	border-radius: 7px;
    margin-bottom: 7px;
}

.avatar-small {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    float: left;
}

/* old css */

.search-header, .rate-header {
    margin-bottom: 10px !important;
}

.file-upload label {
    cursor: pointer;
    width: 100%;
    color: white;
}



.file-label {
    display: none;
}

.house-image {
	height: 100px !important;
}

.map-modal {
    width: 530px;
}

.center-inf {
    text-align: center;
    color: #6b6b6b;
    font-size: 2em;
}

.booking-list {
}