{% load i18n %}
<div class="chat-mini-block">
    <div class="chat-title" id='block-{{ chat.slug }}'>
        <div class="img-block">
            {% if chat.image %}
                <img src="{{ chat.image.url }}" class="">
            {% else %}
                {% load staticfiles %}
                <img src="{% static 'images/DefaultChat.png' %}" class="">
                {% endif %}
        </div>

        <div class="title-block">
            <div>
                <strong>{{ chat.title }} {% if chat.user_new_message %}
                    <span class="new-msg">New</span> {% endif %} </strong>
            </div>
            {% if chat.last_message %}
                <p class="last-message">{{ chat.last_message }}</p>
            {% endif %}

            <div class="button-block">
                <button class="delete-button" id="delete-{{ chat.slug }}" hidden>
                    <small><i class="fas fa-trash-alt"></i></small>
                </button>

                {% if request.user.id == chat.creator %}
                    <button class="edit-button" id="edit-{{ chat.slug }}" hidden>
                        <small><i class="fas fa-edit"></i></small>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>