<div class="message-block {% ifequal message.user request.user %}user-owner{% endifequal %}"
     id="message-{{ message.id }}">
    <div class="{% if message.user == request.user %}{% endif %}">
        <div class="main-message-content">
            <div class="img-block ">
                {% if message.user.userinfo.big_photo %}
                    <img src="{{ message.user.userinfo.big_photo.url }}" class="">
                {% else %}
                    {% load staticfiles %}
                    <img src="{% static 'images/DefaultAvatar.png' %}" class="">
                {% endif %}
                {% if message.user != request.user %}
                    <a class="member-name"
                       href="{% url 'home' message.user.id %}">
                        <small class=""> @{{ message.user.username }}</small>
                    </a>
                {% endif %}
            </div>
            {% if message.text %}
                <div class="message-bubble">
                    <p> {{ message.text }} </p>
                </div>
            {% endif %}
            {% if message.user == request.user or request.user.id == message.chat.creator %}
                <button class="delete-mess-button"
                        id="delete-mess-{{ message.id }}" hidden>
                    <i class="fas fa-trash-alt"></i></button>
            {% endif %}

        </div>

        <div class="">

            <div class="">
                {% if message.has_files %}
                    <div class="message_img">
                        {% for image in message.get_images %}
                            <img src="{{ image.file.url }}" class="note-image col-12 img-fluid p-0"/>
                        {% endfor %}
                    </div>
                    <div class="message_video">
                        {% for video in message.get_video %}
                            <div class="">
                                <video controls="controls" class="embed-responsive-item">
                                    <source src="{{ video.file.url }}">
                                </video>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="message_audio">
                        {% for audio in message.get_audio %}
                            <audio controls="controls" class="my-2">
                                <source src="{{ audio.file.url }}">
                            </audio>
                        {% endfor %}
                    </div>
                    <div class="message_files">
                        {% for file in message.get_files %}
                            <a download="file.file.url" class="mx-2">{{ file.file.url }}</a>
                        {% endfor %}
                    </div>
                    <div class="message_map">
                    </div>
                {% endif %}
            </div>
            <!--
            <div class="">
                <small class="{% if message.user == request.user %}{% else %}{% endif %}"> {{ message.date| date:"d-m-Y H:i" }} </small>
            </div>
            -->
        </div>

    </div>
</div>