{% load i18n %}

<h2 class="m-2"><strong>{% trans "List of applications for booking" %}</strong></h2>

{% for book in booking %}
    {% include 'HouseSerch/includes/booking_card.html' %}
{% endfor %}
<div class="block">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

{% load l10n %}
<script>
    (function f() {
        var ctx = document.getElementById('myChart').getContext('2d');
        let data = [];

        {% for rate in rates_val %}
            {% localize off %}
                data.push({{ rate}});
            {% endlocalize %}

        {% endfor %}
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept',
                    'Oct',
                    'Nov',
                    'Dec'],
                datasets: [{
                    label: 'Dynamics of housing rating changes',
                    data: data,
                    backgroundColor: [
                        'rgba(255,116,65,0.2)',
                        'rgba(206,107,255,0.4)',
                        'rgba(92,255,108,0.4)',
                        'rgba(255,141,109,0.4)',
                        'rgba(255,104,140,0.4)',
                        'rgba(255,102,233,0.4)',
                        'rgba(144,122,255,0.4)',
                        'rgba(118,143,255,0.4)',
                        'rgba(110,255,231,0.4)',
                        'rgba(107,255,143,0.4)',
                        'rgba(252,242,255,0.4)',
                        'rgba(255,76,155,0.4)',
                        'rgba(66,255,235,0.4)',
                    ],
                    borderColor: [
                        'rgb(255,167,75)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 6
                        }
                    }],
                    xAxes: []
                }
            }
        });
    })();

</script>