{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ user.username }} | {% trans 'Advert' %}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-lg-8 col-12">
            {% if user.userinfo.virifield == user.userinfo.VERIFIED %}
                <div class="search-header block">
                    <h3>{% trans 'Rental advertisement from' %} <a href="{% url 'home' user.id %}">{{ user }}</a></h3>
                </div>
                {% include 'HouseSerch/includes/houses_list.html' %}
            {% endif %}
            {% if user.userinfo.virifield == user.userinfo.WAIT %}
                <h3>{% trans 'Your application is in processing. It will be checked within 24 hours from the time of withdrawal of the application.' %}</h3>
            {% endif %}
            {% if user.userinfo.virifield == user.userinfo.REJECT %}
                <h3>{% trans 'Sorry, your request was rejected.' %}</h3>
            {% endif %}
            {% if user.userinfo.virifield == user.userinfo.UNDF %}
                <h3>{% trans 'Hellow! To be able to publish your ads for free, you must go through the reality check procedure of your personality.' %}</h3>
            {% endif %}

        </div>
    </div>


{% endblock %}

{% block script %}

    {% load staticfiles %}

    <script src="{% static '/js/rate_stars.js' %}"></script>

{% endblock %}