
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>

    {% block external %}
        {% load staticfiles %}

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/modal_window.css' %}">

        <!-- Custom Styles | Объединить с base.css в последствии (?) -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <!-- Icons -->
        <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.css' %}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
        <script src="{% static 'js/jquery_3_3_1.min.js' %}"></script>
        <script src="{% static 'node_modules/popper.js/dist/umd/popper.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>

        <!-- TEST -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <link rel="stylesheet" type="text/css" href="{% static '/css/search.css' %}">

        <!--Для пошуку-->
        <script src="{% static 'js/main_search.js' %}"></script>
    {% endblock %}
</head>
<body>
{% load i18n %}
{% include "navbar.html" %}

    <div class="container">
        <div class="navbar-spacer"></div>
        {% block content %}
        {% endblock %}
        <!-- <div class="new-message-popup"><i class="fas fa-envelope-square"> You have a new message!</i></div>
         -->
        <div class="footer-spacer"></div>
    </div> <!-- container-fluid -->
</body>

<footer class="text-secondary p-md-3 p-1 d-flex justify-content-start">
    <div class="col-lg-3 col-6 ">
        <small>
            <strong>© Travel App 2019</strong>
            <br>
            {% trans 'This web application is a project for the KRKM DNU College.' %}
        </small>
    </div>
    <div class="col-lg-3 col-6">
        <small>
            <strong>{% trans 'Creators' %}</strong>
            <br>
            {% trans 'Nastya Kurakina' %} - github.com/NastiaKyrakina
            <br>
            {% trans 'Maxim Sedykh' %} - github.com/Steldev
        </small>
    </div>
</footer>
{% block script %}
{% endblock %}

</html>